h1,h2,h3,h4,h5,h6{
    font-weight: 600;
    /* line-height: 1.2rem; */
    color: inherit;
}

/* Headers */
h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}

h4{
    font-size: 2rem;
}

h5{
    font-size: 1.5rem;
}

h6{
    font-size: 1rem;
}

/* Text Styles */
.text-bold{
    font-weight: 700;
}
.text-overLine{
    text-decoration: overline;
}
.text-underLine{
    text-decoration: underline;
}
.text-linethrough{
    text-decoration: line-through;
}
.text-grey{
    color: gray;
}
.text-highlight{
    background-color: var(--boldy-light-green);
    padding: 1rem;
    width: fit-content;
}

/* Text Allignment */

.text-center{
    text-align: center;
}
.text-left{
    text-align: start;
}
.text-right{
    text-align:end;
}