.card{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25rem;
    height: fit-content;
    background-color: var(--shade-1);
    margin: 7px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: var(--lightest-bg-color);
    position: relative;
}

.card-img{
    width: 100%;
    height: 15rem;
    border-radius: 7px 7px 0 0;
    object-fit: cover;
    flex-grow: 1;
}

.card-content{
    display: flex;
    height: 35%;
    justify-content: space-around;
    flex-flow: column;
    padding: 1rem 1rem 0 1rem;
    background-color: var(--lightest-bg-color);
    font-size: 1.5rem;
}

.card-content-body{
    font-size: 1.5rem;
}

.card-footer{
    /* display: flex;
    justify-content: space-around;
    font-weight: 500;
    
    height: 10%;
    align-items: center;
    background-color: transparent; */

    display: flex;
    height: 10%;
    width: 100%;
    padding:0.3rem;
    /* margin: 0.3rem; */
}

.card-footer-view{
    display: flex;
    flex-grow: 2;
    justify-content: space-evenly;
}

.card-footer-view > button:hover{
    
    background-color: var(--light-bg-color );
    color: var(--btn-text-color);
}

.card-footer-view *{
    border: none;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
    /* margin:0 0.3rem; */
    padding: 1rem;
    font-weight: 700;
    background-color: transparent;
}

.card-footer-action{
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
}

.card-footer-action > span,button{
    padding: 1rem;
}

.card-footer-action > span:hover{
    background-color: var(--light-bg-color );
    border-radius: 50%;
    cursor: pointer;
    color: var(--btn-text-color);
}

/* card with text overlay */
.card-text-overlay{
    position: relative;
}

.card-overlay-image{
    position: relative;
    height: 18rem;
    width: 100%;
    opacity: 0.7;
}

.card-overlay-title{
    position: absolute;
    top: 12rem;
    color: var(--text-color);
}

.card-text-overlay > .card-content{
    height: 20%;
}
.card-content-overlay-text > .card-content-body{
    font-size: 2rem;
}

/* card with header title */

.card-header-title-image{
    margin-top: 6rem;
    border-radius: 0px;
    height: 13rem;
}

.card-header-title-content{
    position: absolute;
    top: 0;
}

.card-header-title{
    position: relative;
}

.card-header-title > .card-content{
    height: 15%;
}

.card-header-title > .card-content-body{
    font-size: 2rem;
}

/* vertical card */
.card-horizontal{
    height: fit-content;
    width:27rem;
}

.card-horizontal-layout{
    display: flex;
}

.card-horizontal-layout >.card-img{
    width:30%;
    height: auto;
    border-radius: 7px 0 0 0;
}

.card-horizontal-layout > .card-content{
    height: auto;
    padding: 0 1rem;
}

.card-horizontal > .card-footer{
    padding: 1rem;
    font-size: 2rem;    
}



/* card with cart badge */
.card > .badge{
    height: fit-content;
    width: fit-content;
    border: none;
}

.card > .badge:hover{
    transform: scale(1.1);
    background-color: var(--pleasent-warning);
    color: red;
}

.card > .topright-badge{
    top:1rem;
    right: 1rem;
}

.cart-card{
    height: 38rem;
    border-radius: 0;
}

.cart-card > .card-img{
    height: 23rem;
    border-radius: 0;
}

.cart-card > .card-content {
    height: 25%;
    width: 100%;
    align-items: center;
}


.cart-card  > .card-footer > .card-footer-view{
    width: 100%;
    background-color: #c6c6c6;
    /* padding: 1rem; */
}

.cart-card > .card-footer > .card-footer-view:hover{
 background: #3B82F6;

}

.cart-card > .card-footer > .card-footer-view > button{
    width: 100%;
    padding: 1rem;
}
.cart-card > .card-footer > .card-footer-view > button:hover{
    background: transparent;
    color: white;
   }

   /*  horizontal cart card*/
.cart-card-horizontal{
    height: 25rem;
    width: fit-content;
}
.cart-card-horizontal > .card-img{
    width: 20rem;
    height: 25rem;
}

.cart-card-horizontal-layout{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cart-card-footer{
    flex-direction: column;
    flex-grow: 0;
    padding: 1rem;
}

.cart-card-footer > button:first-child{
    padding: 1rem;
    background-color:  var(--primary-variant-color);
    color: white;
    margin: 1rem 0; 
}

.cart-card-footer > button:last-child
{
    padding: 1rem;
    color: var(--primary-variant-color);
    border: 2px solid var(--primary-variant-color);
    
}