.input-group{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.input-group > input{
    padding: 0.5rem;
    margin: 0 0.5rem;
}

.input-error{
    color: var(--warning-color);
}
.input-error > input{
    outline-color: var(--warning-color);
}