.input-group{
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.input-group > input{
    padding: 1rem;
    margin: 0 0.5rem;
    border-color: var(--boldy-dark-green);
    border-radius: 5px;

}

.input-error{
    color: var(--warning-color);
}
.input-error > input{
    outline-color: var(--warning-color);
}


/* search  */

.input-icons span {
    position: absolute;
}
  
.input-icons {
    width: 30%;
    margin-bottom: 10px;
    margin: 0.5rem ;
}
  
.icon {
    padding: 10px;
    color: green;
    min-width: 50px;
    text-align: center;
}
  
.input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 7px;
    min-width: 20rem;
}

.input-file{
    padding: 1rem;
    background-color: var(--boldy-light-gray);
    color: var(--boldy-dark-green);
}