.btn{
    padding:0.5rem 1rem;
    margin: 0.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    background-color: var(--primary-color);
    color: white;
    border-radius: var(--border-radius);
    cursor: pointer;
    text-align: center;
}


.btn-outline{
    background-color: white;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.btn-outline-sucess{
    background-color: white;
    border: 2px solid var(--badge-shades-sucess-color);
    color: var(--badge-shades-sucess-color);
}

.btn-outline-warning{
    background-color: white;
    border: 2px solid var(--warning-color);
    color: var(--warning-color);
}

.btn-outline:hover{
    background-color: var(--primary-variant-color);
    color: white;
    transition: 0.2s;
}

.btn-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2px;
}

.btn-round{
    border-radius: 50%;
    padding: 0.5rem;
}

.btn-link{
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    margin-bottom: 2px solid var(--primary-color);
    text-decoration: underline;
}
.btn-link:hover{
    background-color: transparent;
    border: none;
    color: var(--text-color);
}
.btn-link::after{
    background-color: var(--primary-color);
    box-sizing: border-box;
}

.btn-lg{
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem 2rem;
}

.btn-sm{
    font-size: 1.5rem;
    font-weight: 400;
}

.btn-sucess{
    background-color: var(--badge-shades-sucess-color);
    border-color:  var(--badge-shades-sucess-color);
}

.btn-warning{
    background-color: var(--warning-color);
    border-color:  var(--warning-color);
}

