<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../component.css">
    <title>Avatar</title>
</head>
<body>
    <div>
        <img  class="avatar-md circle" src="../../assets/Img/photo-1593529467220-9d721ceb9a78.jpg" alt="" srcset="">
    </div>
    <div > 
        <img class="avatar-lg circle" src="../../assets/Img/photo-1593529467220-9d721ceb9a78.jpg" alt="" srcset="">
    </div>
    <div>
        <img  class="avatar-sm square" src="../../assets/Img/photo-1593529467220-9d721ceb9a78.jpg" alt="" srcset="">
    </div>
    <div>
        <img  class="avatar-xlg square" src="../../assets/Img/photo-1593529467220-9d721ceb9a78.jpg" alt="" srcset="">
    </div>
    
</body>
</html>