
@import url(../Components/Alert/Alert.css);
@import url(../Components/Avatar/Avatar.css);
@import url(../Components/Badge/Badge.css);
@import url(../Components/Button/button.css);
@import url(../Components/Card/Card.css);
@import url(../Components/Drawer/Drawer.css);
@import url(../Components/Image/Image.css);
@import url(../Components/Input/Input.css);
@import url(../Components/Typography/typography.css);
@import url(../Components/Dialog/Dialog.css);
@import url(../Components/Navigation/Navigation.css);
@import url(../Components//Grid//Grid.css);

@import url(../Components/Toast/Toast.css);
@import url(../Components/Rating/Rating.css);
@import url(../Components/List/List.css);
@import url(../Components/Utilites/Utilities.css);

@import url(../Components/Slider/Slider.css);
@import url(https://tangent-ui.netlify.app/);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}
body{
  background-color: var(--lightest-bg-color);
  font-family: 'Dongle', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
}
:root{
  --primary-color:#64748B;
  --primary-variant-color:#7d8288;
  --text-color:#0F172A;   
  --light-bg-color:#f1f7ff;
  --lightest-bg-color:#f7f8f8;   
  --btn-text-color:#07796f;
  --btn-text-color-2:#27474e;
  --hover-color:#e2e8f0;    
  --badge-bg-color:#a1a1aa;
  --nav-bg-color :#EAE8FF;

  --warning-color:#fb2d2d;
  --pleasent-warning:#FFDDE2;
  --badge-shades-sucess-color:#25bd52;
  --light-sucess-color:#c3f0d0;
  --badge-shades-lgpurple-color:#EAE8FF;

  --bold-blue-color:#2d3142;
  --pleasent-blue-color:#B0D7FF;
  
  --rating-star:#ffcc00;
  --rating-star-dull-color: rgb(180, 180, 180);
  --warinng-base-color:#fbff00;
  --warning-light-color:#fffff6;
  --warning-bg-color-gradient :linear-gradient(90deg, rgba(249,255,25,1) 0%, rgba(255,194,140,1) 100%);
  --boldy-mid-gray: #ADACB5;
  --boldy-light-gray: #D8D5DB;
  --boldy-dark-purple:#2D3142;
  --boldy-light-purple:#8C7AA9;
  --boldy-light-green : #539987;
  --boldy-dark-green: #27474E;
  --boldy-dim-pink: #EAE8FF;
  --boldy-bright-pink: #FFDDE2;

  --box-shadow :#d2e4df;
  --box-shadow-dark :#4d5351;

  --dark-theme-bg :#2e3440;
  --dark-theme-nav-bg:#539987;
  --dark-theme-border-bg:#4d887b;
  --dark-theme-nav-text:#4d887b;

  --shade-0:#efefef;
  --shade-1:#f0fdfa;
  --shade-2:#ccfbf1;
  --shade-3:#99f6e4;
  --shade-4:#5eead4;
  --shade-5:#2dd4bf;
  --shade-6:#14b8a6;
  --shade-7:#0d9488;
  --shade-8:#0f766e;
  --shade-9:#115e59;
  --shade-10:#134e4a;
  --shade-11:#29323f;
  --white:white;
  --black:black;

  --zIndex:0;
  --border-radius: 5px;
}


