.drawer_filler{
    height: 50rem;
    width: 100%;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    background-color: white;
    display: flex;
}

.content-drawer-body{
    overflow-y: scroll;
    font-size: 1.5rem;
    word-break: break-all;
    height: 40rem;
    padding: 1rem;
}

.content-drawer-header{
    font-size: 2rem;
    background-color: var(--hover-color);
    color: var(--text-color);
    height: fit-content;
    font-weight: 800;
}

.content-drawer{
    overflow: scroll;
}

.drawer-menu-icon{
    padding: 1rem;
}
.drawer-menu-icon-over{
    padding: 1rem;
}
.drawer-container-permanent{
    flex-grow: 1;
    border-right: 1px solid black;
    flex-basis: 15rem;
    min-width: 18rem;
    border-top: 2px solid black;
}

.overlay-filler{
    position: relative;
}

.drawer-container-overlay{
    border-right: 1px solid black;
        border-top: 2px solid black;
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    transition: 0.5s;
}
.drawer-overlay{
    position: absolute;
}

.drawer-close-modal{
    margin-left: auto;
    text-align: right;
    font-weight: 800;
    cursor: pointer;
    overflow: none;
    font-size: 2rem;
}
.drawer-container-push{
    flex-grow: 1;
    border-right: 1px solid black;
    flex-basis: 15rem;
    border-top: 2px solid black;
}

.drawer-container-body-label{
    font-size: 1.5rem;
    margin: 1rem 0;
}
.drawer-container-body-elements{
        font-size: 1.5rem;
        padding: 0.5rem;
        font-weight: 600;
        border-top: 2px solid black;
}
.drawer-container-body-item{
    display: block;
    padding: 7px 0;
   display: flex;
}

.drawer-container-body-item:hover{
    background-color: var(--light-bg-color);
    color: var(--btn-text-color);
}
.drawer-body-item{
    padding: 0 1rem;
    font-weight: 600;
    text-align: center;
    margin: 0 auto;
    margin-bottom: auto;
    flex-grow: 1;
}

.drawer-container-body{
    overflow-y: scroll;
    max-height: 40rem;

}
.drawer-container-body > .drawer-container-body-elements
{padding: 1rem;}

.drawer-icons{
    margin: 0 auto;

}


.drawer-container-header{
    padding: 1rem 0;
    width: 0;
}