
  /* rating */

  .rating-star-icon{
    font-size: 3rem;
    color: var(--rating-star-dull-color);
    cursor: pointer;
  }
  
  .rating-bunch:hover .rating-star-icon{
    color: var(--rating-star);
  }

  .rating-bunch:hover .rating-star-icon:hover ~ .rating-star-icon{
    color:var(--rating-star-dull-color);
  }
  .rating-star-icon:hover{
      color: var(--rating-star);
   }