/* Navbar style */
.navbar{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    align-items: center;
    /* background-color: var(--light-bg-color); */
    background-color: #e0ebe8;
    margin-bottom: 2px solid white;
}
.navbar-body{
    padding: 0 2rem;
    display: flex;
    margin-left: auto;
}
.navbar-body > div{
    padding:1rem;
    cursor: pointer;
}

.navbar-image{
    height: 4rem;
    width: 4rem;
}
.navbar-title{  
    font-size: 3rem;
    padding: 1rem 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.navbar-title > div {
    padding: 0 1rem;
}
.navbar-items{
    text-decoration: none;
    color: var(--boldy-dark-purple);
    font-weight: 500;
}

a.navbar-items {
    padding: 1rem;
}

.navbar-close-toggle{
    margin-left: auto;
    font-weight: 600;
    font-size: 3rem;
    background-color: var(--lightest-bg-color);
    padding: 3px;
    border-radius: 10%;
}

.container-drawer{
    /* border-bottom: 2px solid black; */
    font-size: 3rem;
    padding: 1rem;
}

.sidebar-title{
    border-bottom: 2px solid black;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    margin-top: 1rem;
}

.sidebar-body{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.sidebar-body-content{
    cursor: pointer;
    display:block;
    padding:0.5rem 1rem;
    font-weight: 500;
    color: var(--boldy-dark-purple);

}

.sidebar-body-content:hover{
    color: var(--btn-text-color);
}

/* Container */
.divider{
    /* height: 6rem; */
    font-size: 3rem;   
    word-wrap: break-word;
    display: block;
    padding: 1rem;
    font-weight: 500;
    
    background-color: #f7f8f8;
}

.container{
    font-size: 2rem;
    scroll-behavior: smooth;
}
.container-body{
    /* font-size: 2rem; */
    display: flex;
    position: relative;
}

.image-container{
    width: 80%;
    height: auto;
}

a.sidebar-body-content{
    text-decoration: none;
}
aside{
    float: left;
    min-width: 25rem;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    font-size: 2rem;
    height: 60rem;
    overflow-y: scroll;
}

.document-container{
    flex-grow: 1;
    padding: 1rem;
}


/* Document page style for component */
fieldset{
    border-radius: 7px;
    border-width: 4px;
    border-color: var(--boldy-light-green);
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 25px 0 var(--box-shadow);
    /* margin: 1rem; */
    margin-top: 2rem;
}
.iframe-container{
    padding: 1rem;
}
.markup{
    background-color: var(--box-shadow);
    font-weight: 500;
}
legend{
    margin-left: 2rem;
    padding: 1rem;
}

.container-avatar-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.container-avatar-body *{
    margin: 1rem;
    /* flex-grow: 1; */
}




/* scroll up btn style */

.example-button{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem;
}

#scroll-top-btn{
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 99;
    background-color: var(--boldy-light-green);
    cursor: pointer;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border:2px solid var(--boldy-light-purpl);
}

#scroll-top-btn >  span{
    font-size: 3rem;
    color: white;
}

#scroll-top-btn:hover{
    color: var(--boldy-light-purple);
    background-color: var(--boldy-dark-green);
}




/* documnent page containers */
.badge-collection{
    /* padding:1rem; */
    /* display: flex; */
    flex-wrap: wrap;
}

.content-title{
    font-weight: 500;
    font-size: 2rem;
}

.button-collection{
    display: flex;
    flex-wrap: wrap;
}

/* Landing page */

.illustartion-landpage{
    height: 40rem;
    width: 100%;
    color:#539987;
}

.landing-container{
    scroll-behavior: smooth;
    font-size: 2rem;
}
/* 
.landing-main-image >.illustartion-landpage{
    height: 30rem;
    width: 30rem;
} */

.landing-container-main{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}



.landing-main-content{
    /* word-wrap: break-word; */
    /* word-break: break-all; */
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.landing-main-image{
    flex-basis: 50rem;
    padding: 1rem;
    /* width: 40rem; */
}

.landing-installation{
    padding: 1rem 1.5rem;
    transition: 2s;
    display: flex;
    justify-content: space-evenly;
}

.installation-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.get-start-btn{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--btn-text-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    text-decoration: none;
}

.installation-btn{
    font-size: 2rem;
    text-decoration: none;
    border: 2px solid var(--btn-text-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: grey;
}
.landing-btn-collect{
    display: flex;
}

.installation-img{
    width: 100%;
    height: 40rem;
    border-radius: 5px;
    display: none;
}

footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    /* background-color: var(--light-bg-color); */
    background-color: #e0ebe8;
    margin-bottom: 2px solid white;
    padding: 1rem;
}

/* Media Query */

@media screen and (max-width: 800px) {
    aside{
        /* display: block; */

        border-right: 1px solid black;
        flex-basis: 15rem;
        min-width: 22rem;
        border-top: 2px solid black;
        height: 100%;
        width: 0;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: white;
        transition: 0.5s;
        position: absolute;
        height: 80rem;
        overflow-y: scroll;

         /* padding: 1rem; */
        /* position: absolute; */
        /* overflow-x: hidden; */
        /* position: -webkit-sticky;
        position: sticky;
        top: 0; */
    }
}


@media screen and (min-width: 800px) {
    aside{
       float: left;
       position: -webkit-sticky;
       position: sticky;
       top: 0;
    }
    .installation-img{
        display: flex;
    }
    .illustartion-landpage{
        height: 90vh;
        width: 100%;
        color:#539987;
    }
}