body::-webkit-scrollbar{
    width: 1rem;
}
body::-webkit-scrollbar-track{
    background-color: var(--shade-1);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--btn-text-color-2);
    border-radius: 1rem;
    border: 3px solid  var(--shade-1);
}
/* 
body::-webkit-scrollbar:hover{
    transform: scale(1.2);
    cursor: pointer;
} */

/* Navbar style */
.navbar{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    align-items: center;
    /* background-color: var(--light-bg-color); */
    background-color: #e0ebe8;
    margin-bottom: 2px solid white;
}
.navbar-body{
    padding: 0 2rem;
    display: flex;
    margin-left: auto;
}
.navbar-body > div{
    padding:1rem;
    cursor: pointer;
}

.navbar-image{
    height: 4rem;
    width: 4rem;
}
.navbar-title{  
    font-size: 3rem;
    padding: 1rem 2rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.navbar-title > div {
    padding: 0 1rem;
}
.navbar-items{
    text-decoration: none;
    color: var(--boldy-dark-purple);
    font-weight: 500;
}

a.navbar-items {
    padding: 1rem;
}

.navbar-close-toggle{
    margin-left: auto;
    font-weight: 600;
    font-size: 3rem;
    background-color: var(--lightest-bg-color);
    padding: 3px;
    border-radius: 10%;
}

.container-drawer{
    /* border-bottom: 2px solid black; */
    font-size: 3rem;
    padding: 1rem;
}

.sidebar-title{
    border-bottom: 2px solid black;
    justify-content: center;
    display: flex;
    font-size: 3rem;
    margin-top: 1rem;
}

.sidebar-body{
    margin-top: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.sidebar-body-content{
    cursor: pointer;
    display:block;
    padding:0.5rem 1rem;
    font-weight: 500;
    color: var(--boldy-dark-purple);
    width: 100%;
    border-radius: 5px;
}

.sidebar-body-content:hover{
    color: var(--btn-text-color);
    background-color: var(--shade-1);
}

/* Container */
.divider{
    font-size: 3rem;   
    word-wrap: break-word;
    display: block;
    padding: 1rem;
    font-weight: 500;
    background-color: #f7f8f8;
}

.container{
    font-size: 2rem;
    scroll-behavior: smooth;
}
.container-body{
    display: flex;
    position: relative;
}

.image-container{
    width: 80%;
    height: auto;
}

a.sidebar-body-content{
    text-decoration: none;
}


.document-container{
    flex-grow: 1;
    padding: 1rem;
}


/* Document page style for component */
fieldset{
    border-radius: 7px;
    border-width: 4px;
    border-color: var(--boldy-light-green);
    width: 100%;
    padding: 1rem;
    box-shadow: 0 0 25px 0 var(--box-shadow);
    margin-top: 2rem;
    padding-left: 3rem;
}
.iframe-container{
    padding: 1rem;
    margin: 1rem 0;
    background-color: #d3e7e1;
    height: 30rem;
    width: 80%;
    overflow: scroll;
}
.markup{
    background-color: var(--box-shadow);
    font-weight: 500;
}
legend{
    margin-left: 2rem;
    padding: 1rem;
}

.container-avatar-body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}

.container-avatar-body *{
    margin: 1rem;
}

/* scroll up btn style */

.example-button{
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 2rem;
}

#scroll-top-btn{
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 3rem;
    z-index: 99;
    background-color: var(--boldy-light-green);
    cursor: pointer;
    font-size: 2rem;
    height: 5rem;
    width: 5rem;
    border:2px solid var(--boldy-light-purpl);
}

#scroll-top-btn >  span{
    font-size: 3rem;
    color: white;
}

#scroll-top-btn:hover{
    color: var(--boldy-light-purple);
    background-color: var(--boldy-dark-green);
}

/* documnent page containers */
.badge-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.content-title{
    font-weight: 500;
    font-size: 2rem;
}

.button-collection{
    display: flex;
    flex-wrap: wrap;
}

.card-collection{
    display: flex;
    flex-wrap: wrap;
}

.dialog-bunch{
    display: flex;
    flex-wrap: wrap;
}

.flex-shadow{
    padding: 1rem;
    box-shadow: 0 0 10px 0 gray;
    line-height: 4rem;
}

/* navigation container */
.nav-bunch{
    display: flex;
    flex-wrap: wrap;
}

/* Landing page */

.illustartion-landpage{
    /* height: 40rem; */
    width: 300px;
    color:#539987;
}

.illustartion-docpage{
    margin-top: 2rem;
    height: 250px;
    width: 100%;
    aspect-ratio: 2/1;
}

.landing-container{
    scroll-behavior: smooth;
    font-size: 2rem;
}
.landing-container::before {
    content         : "";
    position        : absolute;
    height          : 2000px;
    width           : 2000px;
    top             : -5%;
    right           : 30%;
    transform       : translateY(-50%);
    background-image: linear-gradient(-45deg, #fff 0%, green 150%);
    transition      : 1.8s ease-in-out;
    border-radius   : 50%;
    z-index         : -1;
    overflow        : hidden;
}

.code-view{
    padding: 1rem;
    background-color: var(--shade-9);
    color: white;
}

.gist-design{
    background-color: #539987;
    padding: 0.5rem;
    width: 80vw;
    height: 50rem;
    overflow: scroll
}

.shorter-gist-design{
    height: 25rem;
}

.landing-container-main{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    height: 100vh;
}

.landing-main-content{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 300px;
}
.landing-main-image{
    padding: 1rem;
    flex-grow: 1;
    width: 40rem;
    display: flex;
    justify-content: center;
}

.landing-installation{
    padding: 1rem 1.5rem;
    transition: 2s;
    display: flex;
    justify-content: space-evenly;
}

.installation-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.get-start-btn{
    color: white;
    font-size: 2rem;
    font-weight: 500;
    background-color: var(--btn-text-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    text-decoration: none;
}

.installation-btn{
    font-size: 2rem;
    text-decoration: none;
    border: 2px solid var(--btn-text-color);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color:  var(--btn-text-color);
}
.landing-btn-collect{
    display: flex;
    margin: 1rem;
}
.landing-btn-collect > a {
    padding: 1rem;
    margin:0.5rem
}
.installation-img{
    width: 100%;
    height: 35rem;
    border-radius: 5px;
    display: none;
}

footer{
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    background-color: #e0ebe8;
    margin-bottom: 2px solid white;
    padding: 1rem;
}

aside{
    float: left;
    min-width: 25rem;
    display: flex;
    flex-flow: column;
    padding: 1rem;
    font-size: 2rem;
    height: 60rem;
    overflow-y: scroll;


    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

aside::-webkit-scrollbar{
    width: 1rem;
}
aside::-webkit-scrollbar-track{
    background-color: var(--shade-1);
}
aside::-webkit-scrollbar-thumb{
    background-color: var(--btn-text-color-2);
    border-radius: 1rem;
    border: 3px solid  var(--shade-1);
}

aside::-webkit-scrollbar:hover{
    transform: scale(1.2);
    cursor: pointer;
}
/* Media Query */

@media screen and (max-width: 800px) {
    aside{
        border: 1px solid black;
        flex-basis: 15rem;
        min-width: 70vw;
        border-top: 2px solid black;
        height: 100%;
        width: 0;
        z-index: 1;
        top:0;
        left: 0;
        background-color: white;
        transition: 0.5s;
        position: absolute;
        height: 80vh;
        overflow-y: scroll;
    }

    .gist-design{
        width: 100vw;
    }
}


@media screen and (min-width: 800px) {
    .installation-img{
        display: flex;
    }
    .illustartion-landpage{
        /* height: 90vh; */
        width: 100%;
        color:#539987;
    }
}


/********* CODE SNIPPET  : HTML ****************/

/* for copy button */
div.code-toolbar{
    padding: 1rem;
    margin: 1rem 0;
    background-color: #dee5e1;
    color: #033e25;
    font-weight: 600;
}
div.code-toolbar > .toolbar {
    opacity: 1;
    z-index: 1;
    BACKGROUND-COLOR: #27474e;
    border-radius: 7px;
  }


  /* BACKGROUND */
  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: var(--INFO-BG);
    border: 1px solid var(--LIGHT-GRAY);
  }
  
  /* TAG <> COLOR */
  .token.punctuation {
    color: var(--RED);
  }
  
  /* TAG NAME COLORS */
  .token.attr-name,
  .token.deleted,
  .token.namespace,
  .token.tag {
    color: var(--RED);
  }
  
  /* CLASS COLOR */
  .token.attr-value,
  .token.char,
  .token.regex,
  .token.string,
  .token.variable {
    color: rgb(1, 67, 97);
    /* background-color: #dee5e1; */
  }
  
  /* TEXT CONTENT  */
  code[class*="language-"],
  pre[class*="language-"] {
    color: var(--SUCCESS);
    width: 70vw;
    overflow: scroll;
    height: 50vh;
  }
  
  div.code-toolbar > .toolbar > .toolbar-item > a,
  div.code-toolbar > .toolbar > .toolbar-item > button,
  div.code-toolbar > .toolbar > .toolbar-item > span {
    color: rgb(252, 252, 252);
    background-color: transparent;
  }

  div.code-toolbar > .toolbar > .toolbar-item > a:hover,
  div.code-toolbar > .toolbar > .toolbar-item > button:hover,
  div.code-toolbar > .toolbar > .toolbar-item > span:hover {
    transform: scale(1.05);
    opacity: 1.2;
  }
  
  /*********  CODE SNIPPET : CSS  ************/
  .token.atrule,
  .token.builtin,
  .token.important,
  .token.keyword,
  .token.selector {
    color: #ba2026;
  }
  /*  for funtions */
  .token.boolean,
  .token.function,
  .token.number {
    color: #296919;
  }



  :not(pre) > code[class*="language-"],
  pre[class*="language-"]::-webkit-scrollbar{
    width: 1rem;
}
:not(pre) > code[class*="language-"],
  pre[class*="language-"]::-webkit-scrollbar-track{
    background-color: #dee5e1;
}
:not(pre) > code[class*="language-"],
  pre[class*="language-"]::-webkit-scrollbar-thumb{
    background-color: var(--btn-text-color-2);
    border-radius: 1rem;
    border: 3px solid  #dee5e1;
}

:not(pre) > code[class*="language-"],
  pre[class*="language-"]::-webkit-scrollbar:hover{
    transform: scale(1.2);
    cursor: pointer;
}
@media screen and (max-width: 1000px) {
    /* TEXT CONTENT  */
code[class*="language-"],
pre[class*="language-"] {
 color: var(--SUCCESS);
 width: 64vw;
 overflow: scroll;
}
}
  @media screen and (max-width: 800px) {
       /* TEXT CONTENT  */
  code[class*="language-"],
  pre[class*="language-"] {
    color: var(--SUCCESS);
    width: 85vw;
    overflow: scroll;
  }
  }